/* styles.css */

body {
    background-color: #ffeeba;
    min-height: 100vh;
    margin: 0;
}



.content-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    margin: auto;
    max-width: 1440px;
    min-width: 360px;
}

.country-selector-header {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
}



.styled-separator {
    border: none;
    border-top: 2px solid rgba(0, 0, 0, 0.4); /* leicht transparentes Schwarz */
    width: 60%;
    margin: 1rem auto;
}

.emissions-table-section {
    background-color: #ffc107;
    padding: 1.5rem;
    min-height: 300px;
}

.site-header {
    background-color: #e3f2fd; /* sanftes Hellblau wie im Wireframe */
}

.site-header a {
    color: #0d6efd;
}

.site-header small {
    font-size: 0.85rem;
}